body,html{
    height: 100%;
    margin: 0;
    background-image: url(imagenes/photo-1616645728806-838c6bf184af.avif);
    background-size: cover;
    background-repeat: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



aside{
    
    
    width:30vw;
    /* height: 100%; */
    margin-top: 5%;
    border : 2px solid black;
    border-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.9);
    
    

}
main{
   
   position: relative;
    width: 40vw;
    /* height: 100%; */
    margin-top: 5%;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.9);
}
.conta{
    /* height: 100%; */
    justify-content: center;
    display: flex;
  

}

.letra_2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hilo{
    text-align: left;
    padding-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;

} 
h1{
    text-align: center;

    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 10px;
    margin-top: 8px;
   
    
}
p{
    font-size: 20px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

aside img{
    width: 70%;
 
  
}
footer{
    background-color: rgb(9, 9, 33);
    text-align: center;
    height: 30vh;
    margin-top: 15px;
    padding-top: 30px;
    margin-bottom: 0%;

}
footer div{
    display: inline-block;
    width: 20vw;
    text-align: center;

}

footer div ul li a{
    color: white;
    text-decoration: none;
    
}
footer div ul li{
    height: 30px;
    
}
.a{
    width: 40px;
    height: 40px;
    transition: transform 0.15s cubic-bezier(0.17, 0.67, 0.29, 2.71) 0s;
    margin-left: 50px;

}
.barra{
    padding-bottom: 50px;
    text-align: left;
    margin-left: 100px;
}
label{
    color: white;

}
.flecha{
    height: 50px;
    
}



@media (max-width: 768px) {
    .conta{
        flex-direction: column;
    }
    main{
        width: 100%;
        border: 0;
    }
    aside{
        display: none;
    }

    h1{
        margin-top: 25px;
    }
    footer div ul li{
        height: 10px;
    }
    footer{
        background-color: rgb(9, 9, 33);
        text-align: center;
        height: 25vh;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 0%;
        font-size: 15px;

     }
     .a{
        width: 20px;
        height: 20px;
        transition: transform 0.15s cubic-bezier(0.17, 0.67, 0.29, 2.71) 0s;
        margin-left: 50px;

     }
     .barra{
        padding-bottom: 20px;
        text-align: left;
        margin-left: 10px;
    }



    
}