body{
    background-color: #043249;;
}

.hola{
    margin: 0 auto;
    width: 45%;
    background-color: rgb(235, 235, 235);
    height: 740px;
    color: #c09559;
 
    margin-top: 8%;
}
.letra{

  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
}

label{
    display: block;
    margin-top: 15px;
    margin-left: 40px;
    color: black;

}
input{
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 2px solid black;
    margin-left: 40px;
    
}
button{
    width: 20%;
    padding: 8px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid black;
    margin-left: 40px;
}
@media (max-width: 768px) {
    .letra{
  font-size: 40px;
  

}
.hola{

    width: 80%;
    background-color: rgb(235, 235, 235);
    height: 740px;

    margin-top: 15%;
}

    
    

}